body{
    /* background-image: url("https://images.squarespace-cdn.com/content/v1/58798c98e6f2e1f8d78a5d59/1612391487424-1YPOGTW127T6E9N96BQM/1.jpg?format=1000w"); */
    background: #080808;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
  }
  
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form-container{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
  }
  
  h2{
    margin-bottom: 30px;
    font-family: 'Cursive', cursive ;
    color: #e94d58;
    position: relative;
    margin-left: 0px;
  }
  
  .gif {
    margin-left: 10%;
}
  
.btn-group {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
button {
  position: absolute;
  width: 150px;
  height: inherit;
  color: white;
  font-size: 1.2em;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px gray;
  border: 2px solid #e94d58;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2em;
}
button:nth-child(1) {
  margin-left: -200px;
  background: #e94d58;
}
button:nth-child(2) {
  margin-right: -200px;
  background: white;
  color: #e94d58;
}
/* .re-btn{
  visibility: hidden;
  color: #080808;
} */
button:nth-child(3) {
  margin-left: -200px;
  background: #e94d58;
  visibility: hidden;
}
button:nth-child(4) {
  margin-right: -200px;
  background: white;
  color: #e94d58;
  visibility: hidden;
}


  
  
