body{
    background-image: url("https://media.istockphoto.com/id/163528622/photo/two-hearts-at-the-beach.jpg?s=612x612&w=0&k=20&c=XCEGsQQc0QccmgAAIQhFOIBnMhXpgdM1IIezH_2IYvg=");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form-container{
    background-color: transparent;
    padding: 30px;
    border-radius: 10vh;
    
  }

  h1{
    margin-bottom: 30px;
    font-size: 36px;
    font-family: 'Cursive', cursive ;
    color: #333;
  }